<div>
  <ul>
    <li><img src='{{product.image}}'></li>
    <li>{{product.name}}</li>
    <li>{{product.price}}</li>
    <li>{{product.description}}</li>
    <li>{{product.category}}</li>
    <li>{{product.stock}}</li>
  </ul>
</div>
